body {
   
    
     background-color:beige;
        background-size:100% 150%;
        background-position: center;
        background-repeat: no-repeat;
      
        color: hsla(27, 81%, 44%, 0.747);
        padding: 20px;
  
}
